.module2b{
    background-color: #f9dfca ;
    background-size: cover;
    height: 100%;
    color: black;
    font-family:cursive;
    
}
.module2b h1{
    color: black;
}
.youtube-module2b{
    margin-top: 3%;
    
}
.module2b-border{
    border-radius: 8px;
    margin-left: 3%;
}
.modulea{
    color: blue;
}

.module2b h3{
    color: rgb(11, 11, 27);
    font-weight: bold;
}
.topic_content{
    background-color: rgb(181, 179, 227);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 20px;
}